.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.texto-encima{
    font: oblique bold 120% cursive;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}
.descripcion{
    font: 150% sans-serif;
    text-align: center;
}
section,button{
    display: block;
}
