.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.texto-en{
    text-align: left; 
    font-family:  Wingdings, ‘Zapf Dingbats’, sans-serif;
    font-weight:bold; 
    font-size: 20px; 
    color: #EBD758; 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68;
    position: absolute;
    top: 10px;
    left: 10px;
}

.descripcion{
    font: 150% sans-serif;
    text-align: center;
}
section,button{
    display: block;
}
.btn1 {
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}
