* {
    margin: 0px;
    padding: 0px;
}
section,button{
    display: block;
}
 
.descripcion{
    font: 150% sans-serif;
    text-align: center;
}
.titulos{
	font-weight: bolder
}

.parrafoNoticia{
    font: 150% sans-serif;
    text-align: justify;
}
.btn1 {
      background-color: white; 
      color: black; 
      border: 2px solid #008CBA;
}

